        /*______________ELEMENT DE LA PAGE EN GENERAL_________*/
        
        body {
            -moz-user-select: none;
            /*pour que le texte ne sois pas selectionnable*/
            background-color: black;
            background-attachment: fixed;
            background-repeat: no-repeat;
            color: white;
            /* background-image: url(../img/maez-remove-black.jpeg);
            background-size: 90%;
            background-position: -380px 300px; */
            background-color: black;
            -webkit-user-select: none;
            /* Chrome, Safari, Opéra depuis la version 15 */
        }
        
        .barre_haut {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: distribute;
            justify-content: space-around;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
        
        .barre2 {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: distribute;
            justify-content: space-around;
            text-align: center;
            margin-right: 0%;
        }
        
        .bouton a {
            font-size: 1.5rem;
            color: white;
            text-decoration: none;
            text-align: center;
            font-family: 'Aclonica', sans-serif;
            border: 4px solid #f5b815;
            border-radius: 10px;
            text-shadow: 1px 2px 3px black;
            margin-left: 16%;
            padding: 1% 7% 1%;
        }
        
        .bouton a:hover {
            background-color: #f5b815;
        }
        
        .barre_haut a {
            text-decoration: none;
            color: white;
            font-family: 'KoHo', sans-serif;
        }
        
        footer {
            position: fixed;
            bottom: 0;
            width: 99%;
            padding-bottom: 0%;
            height: auto;
        }
        
        table {
            width: 100%;
            max-width: 900px;
            margin: 0 auto;
            text-align: center;
            border: 2px solid none;
            border-collapse: collapse;
        }
        
        th,
        td {
            border: 1px solid none;
            color: white;
            padding: 2.5rem;
            font-family: 'KoHo', sans-serif;
            letter-spacing: 0.2rem;
        }
        
        .barre2:hover {
            color: #f5b815;
        }
        
        .bouton2 {
            font-size: 1.5rem;
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 5px;
            padding-top: 5px;
            border: 3px solid #f5b815;
            border-radius: 10px;
            background-color: #f5b815;
            text-shadow: 1px 2px 3px black;
        }
        /*.bouton2:hover {
                    transition: 1s;
                    transform: scale(1.2);
                }*/
        
        .bouton10 a {
            font-size: 1.5rem;
            color: white;
            text-decoration: none;
            text-align: center;
            font-family: 'Aclonica', sans-serif;
            border: 4px solid #f5b815;
            border-radius: 10px;
            text-shadow: 1px 2px 3px black;
            margin-left: 16%;
            padding: 1% 5.5% 1%;
        }
        
        .bouton10 a:hover {
            background-color: #f5b815;
        }
        
        .bouton1:hover a {
            color: #f5b815;
        }
        
        a {
            text-decoration: none;
        }
        
        footer {
            position: relative;
            bottom: 0;
            width: 99%;
            padding-bottom: 0%;
            padding-top: 20px;
        }
        
        .groupe p {
            font-size: 0.7rem;
            color: #858585;
            text-align: right;
            font-family: 'KoHo', sans-serif;
            padding-bottom: 0%;
            /*text-shadow: 1px 2px 3px black;*/
        }
        
        .groupe a {
            text-decoration: none;
            color: #858585;
        }
        /*_________________created_______________*/
        
        .main_create {
            padding-top: 2%;
        }
        
        .created_titre h1 {
            text-align: center;
            margin-left: 0%;
            color: #f5b815;
            font-size: 3rem;
            text-shadow: 1px 2px 3px black;
            font-family: 'KoHo', sans-serif;
            letter-spacing: 0.15rem;
        }
        
        .map_perso {
            background-color: white;
            border: solid 2px #f5b815;
            color: white;
            left: 0;
            width: calc(80% - 2.4% - 4px);
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            /* position: relative; */
            display: flex;
            /* flex-direction: row; */
            align-items: center;
            /* margin-left: 15%;
            margin-right: 15%; */
            margin-top: 2%;
            padding: 1.2%;
            border-radius: 15px;
            text-transform: uppercase;
        }
        
        .map_perso p {
            font-family: 'KoHo', sans-serif;
            color: black;
            align-items: center;
            text-decoration: none;
        }
        
        .nom_map {
            margin-left: 5%;
        }
        
        .nom_mec {
            margin-left: 65%;
            position: absolute
        }
        
        .nom_mec:hover {
            color: #f5b815;
        }
        
        @media screen and (max-width: 1024px) {
            fieldset {
                margin-left: 10%;
                margin-right: 2%;
            }
            .flexrow2 {
                margin-left: 10%;
                margin-top: 5%;
            }
            .flexrow3 {
                /* margin-left: 10%; */
                /* margin-right: 25%; */
            }
            .btn {
                margin-top: 10%;
            }
            footer .groupe p {
                display: none;
            }
            .regles {
                margin-right: 5%;
                padding-right: 0;
            }
            .regles p {
                margin-right: 0%;
            }
            .logo img {
                position: relative;
                left: 50%;
                transform: translateX(-50%)
            }
            td {
                display: block;
            }
            .barre2 {
                text-align: center;
            }
            .barre_haut {
                display: block;
            }
            .bouton {
                /* margin-bottom: 40rem; */
            }
            body {
                background-position: bottom;
                background-size: 150%;
            }
            footer {
                position: relative;
                padding-bottom: 0%;
            }
            .groupe p {
                text-align: center;
                width: 80%;
                margin-bottom: 10%;
                height: 20%;
            }
            .aventurier {
                display: none;
            }
            .barre_haut {
                position: relative;
                margin-left: 0;
            }
            .logo {
                margin: 0;
            }
            .barre2 {
                margin: 0;
            }
            .main_create {
                padding: 0;
                /* text-align: center; */
            }
        }